# Cached builds
__pycache__/
.cache/
.idea/
*.pyc
*.pyo
*.pyd
*.so
*.dll
*.egg
*.egg-info/

# Build directories
doc/_build/
build/
dist/

prof
teste.py
src/plagiarism/data_files/db.sqlite3
src/plagiarism/data_files/speeches.csv
